/* Theme variables */
:root {
  --julia-purple: #9558b2;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  cursor: pointer;
}

.styled-markdown > * {
  margin: 0.4em 0;
}

.styled-markdown h1 {
  font-size: 1.6em;
}

.styled-markdown h2 {
  font-size: 1.3em;
}

.styled-markdown h3 {
  font-size: 1.17em;
}

.styled-markdown h4 {
  font-size: 1em;
}

.styled-markdown h5 {
  font-size: 0.83em;
}

.styled-markdown h6 {
  font-size: 0.75em;
}

.styled-markdown b,
strong {
  font-weight: bolder;
}

.styled-markdown kbd,
code,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

.styled-markdown > pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

.styled-markdown ul {
  list-style: disc inside none;
}

.styled-markdown ol {
  list-style: decimal inside none;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.container {
  width: 1250px;
  margin-left: auto;
  margin-right: auto;
}

.sidebar {
  background-color: transparent;
  float: right;
  margin: 0;
  max-width: 270px;
  min-height: 1px;
  margin-left: 30px;
}

div.content {
  background-color: transparent;
  width: 920px;
  margin: 0;
  float: left;
  min-height: 1px;
  margin-left: 30px;
}
@media screen and (max-width: 1250px) {
  .container {
    width: 1000px;
  }
  div.content {
    max-width: 710px;
  }
  .sidebar {
    max-width: 230px;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    width: 700px;
  }
  div.content {
    max-width: 450px;
  }
  .sidebar {
    max-width: 190px;
  }
}

@media screen and (max-width: 700px) {
  .sidebar {
    height: auto;
    position: relative;
    margin: 0;
    top: 0rem;
    float: none;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.clear {
  clear: both;
}

.clearfix {
  clear: both;
}
.clearfix:after {
  clear: both;
  content: "";
  display: table;
}
