/* Theme variables */
:root {
  --julia-purple: #9558b2;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  cursor: pointer;
}

.styled-markdown > * {
  margin: 0.4em 0;
}

.styled-markdown h1 {
  font-size: 1.6em;
}

.styled-markdown h2 {
  font-size: 1.3em;
}

.styled-markdown h3 {
  font-size: 1.17em;
}

.styled-markdown h4 {
  font-size: 1em;
}

.styled-markdown h5 {
  font-size: 0.83em;
}

.styled-markdown h6 {
  font-size: 0.75em;
}

.styled-markdown b,
strong {
  font-weight: bolder;
}

.styled-markdown kbd,
code,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

.styled-markdown > pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

.styled-markdown ul {
  list-style: disc inside none;
}

.styled-markdown ol {
  list-style: decimal inside none;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.container {
  width: 1250px;
  margin-left: auto;
  margin-right: auto;
}

.sidebar {
  background-color: transparent;
  float: right;
  margin: 0;
  max-width: 270px;
  min-height: 1px;
  margin-left: 30px;
}

div.content {
  background-color: transparent;
  width: 920px;
  margin: 0;
  float: left;
  min-height: 1px;
  margin-left: 30px;
}

#live div.content {
  overflow: auto;
}
@media screen and (max-width: 1250px) {
  .container {
    width: 1000px;
  }
  div.content {
    max-width: 710px;
  }
  .sidebar {
    max-width: 230px;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    width: 700px;
  }
  div.content {
    max-width: 450px;
  }
  .sidebar {
    max-width: 190px;
  }
}

@media screen and (max-width: 700px) {
  .sidebar {
    height: auto;
    position: relative;
    top: 0rem;
    float: none;
    width: 80%;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  div.content {
    margin-left: 0;
    width: 100%;
    max-width: 100%;
  }
  body {
    margin: 0;
    width: 100%;
  }
  .container {
    width: 100%;
  }
}

#viz .sidebar {
  height: auto !important;
  position: relative !important;
  top: 0rem !important;
  float: none !important;
  width: 80% !important;
  max-width: 80% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  align-items: center !important;
  justify-content: center !important;
  flex-wrap: wrap !important;
  display: flex;
}
#viz div.content {
  margin-left: 0 !important;
  width: 100% !important;
  max-width: 100% !important;
}

#viz img {
  padding: 15px;
  width: auto;
  height: 100px;
  object-fit: contain;
  border: 0;
  margin-left: auto;
  margin-right: auto;
  display: inline;
}
